# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
out/make/squirrel.windows/x64/poker420-0.0.0 Setup.exe
out/make/squirrel.windows/x64/poker420-0.0.0-full.nupkg
out/make/squirrel.windows/x64/RELEASES
out/poker420-win32-x64/chrome_100_percent.pak
out/poker420-win32-x64/chrome_200_percent.pak
out/poker420-win32-x64/d3dcompiler_47.dll
out/poker420-win32-x64/ffmpeg.dll
out/poker420-win32-x64/icudtl.dat
out/poker420-win32-x64/libEGL.dll
out/poker420-win32-x64/libGLESv2.dll
out/poker420-win32-x64/LICENSE
out/poker420-win32-x64/LICENSES.chromium.html
out/poker420-win32-x64/poker420.exe
out/poker420-win32-x64/resources.pak
out/poker420-win32-x64/snapshot_blob.bin
out/poker420-win32-x64/Squirrel-Unset.log
out/poker420-win32-x64/Squirrel.exe
out/poker420-win32-x64/v8_context_snapshot.bin
out/poker420-win32-x64/version
out/poker420-win32-x64/vk_swiftshader_icd.json
out/poker420-win32-x64/vk_swiftshader.dll
out/poker420-win32-x64/vulkan-1.dll
out/poker420-win32-x64/locales/af.pak
out/poker420-win32-x64/locales/am.pak
out/poker420-win32-x64/locales/ar.pak
out/poker420-win32-x64/locales/bg.pak
out/poker420-win32-x64/locales/bn.pak
out/poker420-win32-x64/locales/ca.pak
out/poker420-win32-x64/locales/cs.pak
out/poker420-win32-x64/locales/da.pak
out/poker420-win32-x64/locales/de.pak
out/poker420-win32-x64/locales/el.pak
out/poker420-win32-x64/locales/en-GB.pak
out/poker420-win32-x64/locales/en-US.pak
out/poker420-win32-x64/locales/es-419.pak
out/poker420-win32-x64/locales/es.pak
out/poker420-win32-x64/locales/et.pak
out/poker420-win32-x64/locales/fa.pak
out/poker420-win32-x64/locales/fi.pak
out/poker420-win32-x64/locales/fil.pak
out/poker420-win32-x64/locales/fr.pak
out/poker420-win32-x64/locales/gu.pak
out/poker420-win32-x64/locales/he.pak
out/poker420-win32-x64/locales/hi.pak
out/poker420-win32-x64/locales/hr.pak
out/poker420-win32-x64/locales/hu.pak
out/poker420-win32-x64/locales/id.pak
out/poker420-win32-x64/locales/it.pak
out/poker420-win32-x64/locales/ja.pak
out/poker420-win32-x64/locales/kn.pak
out/poker420-win32-x64/locales/ko.pak
out/poker420-win32-x64/locales/lt.pak
out/poker420-win32-x64/locales/lv.pak
out/poker420-win32-x64/locales/ml.pak
out/poker420-win32-x64/locales/mr.pak
out/poker420-win32-x64/locales/ms.pak
out/poker420-win32-x64/locales/nb.pak
out/poker420-win32-x64/locales/nl.pak
out/poker420-win32-x64/locales/pl.pak
out/poker420-win32-x64/locales/pt-BR.pak
out/poker420-win32-x64/locales/pt-PT.pak
out/poker420-win32-x64/locales/ro.pak
out/poker420-win32-x64/locales/ru.pak
out/poker420-win32-x64/locales/sk.pak
out/poker420-win32-x64/locales/sl.pak
out/poker420-win32-x64/locales/sr.pak
out/poker420-win32-x64/locales/sv.pak
out/poker420-win32-x64/locales/sw.pak
out/poker420-win32-x64/locales/ta.pak
out/poker420-win32-x64/locales/te.pak
out/poker420-win32-x64/locales/th.pak
out/poker420-win32-x64/locales/tr.pak
out/poker420-win32-x64/locales/uk.pak
out/poker420-win32-x64/locales/ur.pak
out/poker420-win32-x64/locales/vi.pak
out/poker420-win32-x64/locales/zh-CN.pak
out/poker420-win32-x64/locales/zh-TW.pak
out/poker420-win32-x64/resources/app.asar
