<div *ngIf="connexionVisible">
    <section class="contexte">
        <h2>Connectez vous:</h2>


    </section>

    <form action="">
        <label for="">Nom:</label><input [(ngModel)]="joueurCandidat.nom" type="text" name="nom"><br>
        <label for="">Mot de passe:</label><input [(ngModel)]="joueurCandidat.motDePasse" type="password"
            name="password"><br>
        <button class="btn btn-primary" (click)="connexion()">Se connecter</button>
    </form>


    <br><br>
    <button class="btn btn-warning" (click)="creationCompte()">Se créer un compte</button>

</div>

<div *ngIf="creerCompteVisible">
    <h5>Créez votre compte</h5>
    <form (ngSubmit)="validerCreationCompte()">
        <label>Nom: </label>
        <input type="text" name="nom" [(ngModel)]="joueurCandidat.nom"><br>
        <label>Courriel: </label>
        <input type="text" name="courriel" [(ngModel)]="joueurCandidat.courriel"><br>
        <label>Password: </label>
        <input type="password" name="mdp" [(ngModel)]="joueurCandidat.motDePasse"><br>
        <label>Confirmation</label>
        <input type="password" name="cfn" [(ngModel)]="confirmation"><br>

        <button type="submit">Valider</button>
        <button (click)="afficherTousLesJoueurs()">Joueurs</button>
        <button (click)="annulerCreationCompte()">Annuler</button>
    </form>





</div>