<div *ngIf="connexionVisible">
    <section class="contexte">
        <h2>Connectez vous:</h2>


    </section>

    <form action="">
        <label for="">Nom:</label><input [(ngModel)]="joueurConnecte.nom" type="text"><br>
        <label for="">Mot de passe:</label><input [(ngModel)]="joueurConnecte.motDePasse" type="password"><br>
        <button class="btn btn-primary" (click)="connexion()">Se connecter</button>
    </form>


    <br><br>
    <button class="btn btn-secondary" (click)="creationCompte()">Se créer un compte</button>

</div>